
html {
    font-size: 12px;
}


tr.selected td{
   background-color: #0000FF;
}


.agent-map {
    height: 100%;
}


.flex-parent-element {
    display: flex;
   
}

.flex-child-element {
    flex: 1;
   
}

    .flex-child-element:first-child {
        margin-right: 20px;
    }