.devcontainer/
globals/
.vscode/
terraform/.terraform/
terraform/terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup


front-end/node_modules/


back-end/LocationTracker/bin/
back-end/LocationTracker/obj/
back-end/LocationTracker/.vs/
back-end/LocationTracker/publish/

back-end/LocationTracker.Tests/bin/
back-end/LocationTracker.Tests/obj/
back-end/LocationTracker.Tests/.vs/
back-end/LocationTracker.Tests/publish/


api/LocationTrackerAPI/publish/
api/LocationTrackerAPI/bin/
api/LocationTrackerAPI/obj/
api/LocationTrackerAPI/.vs/

api/LocationTrackerAPI.Tests/publish/
api/LocationTrackerAPI.Tests/bin/
api/LocationTrackerAPI.Tests/obj/
api/LocationTrackerAPI.Tests/.vs/



lib/LocationTrackerLib/publish/
lib/LocationTrackerLib/bin/
lib/LocationTrackerLib/obj/
lib/LocationTrackerLib/.vs/


lib/LocationTrackerLib/publish/
lib/LocationTrackerLib/bin/
lib/LocationTrackerLib/obj/
lib/LocationTrackerLib/.vs/


lib/LocationTrackerLib.Tests/publish/
lib/LocationTrackerLib.Tests/bin/
lib/LocationTrackerLib.Tests/obj/
lib/LocationTrackerLib.Tests/.vs/