.devcontainer/
globals/
.vscode/
terraform/.terraform/
terraform/terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

back-end/bin/
back-end/obj/
back-end/.vs/

front-end/node_modules/
api/LocationTrackerAPIpublish/
api/LocationTrackerAPI/bin/
api/LocationTrackerAPI/obj/
api/LocationTrackerAPI/.vs/


lib/LocationTrackerLib/publish/
lib/LocationTrackerLib/bin/
lib/LocationTrackerLib/obj/
lib/LocationTrackerLib/.vs/


lib/LocationTrackerLib/publish/
lib/LocationTrackerLib/bin/
lib/LocationTrackerLib/obj/
lib/LocationTrackerLib/.vs/


lib/LocationTrackerLib.Tests/publish/
lib/LocationTrackerLib.Tests/bin/
lib/LocationTrackerLib.Tests/obj/
lib/LocationTrackerLib.Tests/.vs/