@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
	--dark-grey: #373a36;
	--grey: #dedede;
	--light-grey: #ebebeb;
	--blue: #0c62fb;
	--dark-blue: #004dd6;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

header {
	height: 10%;
	background-color: white;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--grey);
}

header img {
	width: 2rem;
	padding: 0 1rem;
}

header h1 {
	font-size: 1.1rem;
}
header a {
	text-decoration: none;
	color: black;
}

main .message {
	padding: 1rem 2rem;
}

#loader-container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#loader {
	width: 1rem;
	height: 1rem;
	margin: 0 auto;
	border: 0.5rem solid var(--light-grey);
	border-top: 0.5rem solid var(--dark-grey);
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#map {
	flex: 1;
}

button {
	width: 100%;
	background-color: var(--blue);
	color: white;
	padding: 0.75rem 3rem;
	border: none;
	margin: 1rem 0;
	font-size: 1rem;
	font-weight: 700;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

button:hover {
	background-color: var(--dark-blue);
}

button:disabled,
button[disabled] {
	border: none;
	background-color: var(--grey);
	color: var(--dark-grey);
}
