@model IList<LocationTracker.Models.LocationReport>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        if (User.IsInRole("Agent"))
        {
            <p>Agent</p>
        }
        else if(User.IsInRole("Supervisor"))
        {
            <p>Supervisor</p>
        }
        else
        {
            <p>unknown role</p>
        }

    }

    @{
        foreach(var item in Model)
        {
            {
                <p>@item.Id</p>
            }
        }
    }

</div>
