@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/mermaid.min.css" rel="stylesheet" />
<link href="~/css/user.css" rel="stylesheet" />


<div class="container-fluid">
    <span>User Setup</span>
    <a id="addUser" href="#">Add User..</a>
    <div id="overlay" class="user-overlay">
        <div id="dataentry" class="user-modal">

            <div class="user-modal-content">
                <span class="user-close">&times;</span>
                <p>Enter User details</p>
                <div class="user-data-item">
                    <input id="username" type="email" placeholder="Enter username" required />
                </div>
                <div class="user-data-item">
                    <input id="is-supervisor" type="checkbox" />
                    <label>Is Supervisor</label>
                </div>
                <div class="user-data-item">
                    <input id="can-login" type="checkbox" />
                    <label>Can Login</label>
                </div>
                <div class="user-data-item">
                    <input id="can-send-sms" type="checkbox" />
                    <label>Can Send SMS</label>
                </div>
                <button id="submit">Save</button>
            </div>

        </div>
    </div>
    <div id="wrapper"></div>
</div>


<script src="~/js/gridjs.umd.js"></script>
<script src="~/js/users.js" type="module" defer></script>
